<div class="post-detail-container">
  <nz-card>
    <img nz-card-cover src="path/to/image.jpg" alt="Post Image">
    <div nz-card-meta>
      <span class="username">username</span>
      <p>Liked by savannah and thousands of others</p>
      <p>username - This is an Instagram mobile post mockup with text support... more</p>
    </div>
    <div class="actions">
      <i nz-icon nzType="heart" nzTheme="outline"></i>
      <i nz-icon nzType="message" nzTheme="outline"></i>
      <i nz-icon nzType="share-alt" nzTheme="outline"></i>
    </div>
  </nz-card>
</div>