<!-- post-detail.component.html -->
<div class="post-detail-container">
  <div class="post-detail">
    <div class="left-column">
      <img class="post-cover"
        [src]="post.cover||'https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg'"
        alt="Post Cover" />
      <div class="post-buttons">
        <button nz-button nzType="default">Edit</button>
        <button nz-button nzType="primary" nzDanger>Delete</button>
        <button nz-button nzType="default" (click)="socialPostDetail('facebook')">
          Facebook
        </button>
        <button nz-button nzType="default">
          Zalo
        </button>
      </div>
    </div>
    <div class="right-column">
      <h1 class="post-title">{{ post.title }}</h1>
      <p class="post-description">{{ post.description }}</p>
      <p class="post-content">{{ post.content }}</p>
    </div>
  </div>
</div>