<div class="fb-post-detail">

  <div class="post-content">
    <p>{{postDetail?.message||''}}</p>
    <div class="post-images">
      <img *ngIf="postDetail?.attachments?.data?.length" [src]="postDetail.attachments.data[0].media.image.src"
        alt="image1" class="image" />
    </div>
  </div>

  <div class="post-actions">
    <nz-divider nzType="horizontal"></nz-divider>
    <div class="icons-list">
      <span *ngIf="reactions?.LIKE">
        <img src="assets/images/like.png" alt="">
        {{reactions?.LIKE || ''}}
      </span>
      <span *ngIf="reactions?.LOVE">
        <img src="assets/images/love.png" alt="">
        {{reactions?.LOVE || ''}}
      </span>
      <span *ngIf="reactions?.CARE">
        <img src="assets/images/care.png" alt="">
        {{reactions?.CARE || ''}}
      </span>
      <span *ngIf="reactions?.HAHA">
        <img src="assets/images/haha.png" alt="">
        {{reactions?.HAHA || ''}}
      </span>
      <span *ngIf="reactions?.WOW">
        <img src="assets/images/wow.png" alt="">
        {{reactions?.WOW || ''}}
      </span>
      <span *ngIf="reactions?.SAD">
        <img src="assets/images/sad.png" alt="">
        {{reactions?.SAD || ''}}
      </span>
      <span *ngIf="reactions?.ANGRY">
        <img src="assets/images/angry.png" alt="">
        {{reactions?.ANGRY || ''}}
      </span>
    </div>
    <nz-divider nzType="horizontal"></nz-divider>
  </div>

  <div class="post-comments">
    <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
  </div>
</div>