<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="userErrorTpl">
          <nz-input-group nzPrefixIcon="user">
            <input nz-input formControlName="username" placeholder="Username" />
          </nz-input-group>
          <ng-template #userErrorTpl let-control>
            <span *ngIf="control.hasError('required')">Username is required</span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passErrorTpl">
          <nz-input-group nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" placeholder="Password" />
          </nz-input-group>
          <ng-template #passErrorTpl let-control>
            <span *ngIf="control.hasError('required')">Password is required</span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>