.post-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  overflow: auto;

  .post-content {
    margin-bottom: 16px;

    .post-hashtag {
      color: #1890ff;
      margin-bottom: 12px;
    }

    .post-images {
      max-width: 100%;

      .image {
        width: 100%;
      }
    }
  }
  .post-comments {
    .comment {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      .comment-content {
        margin-left: 12px;

        .comment-author {
          font-weight: bold;
          margin-right: 4px;
        }
      }
    }
  }
}

nz-card {
  max-width: 500px;
  width: 100%;
}

.username {
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.actions i {
  font-size: 24px;
}
