<div class="post-detail-container">
  <nz-card>
    <div class="post-content">
      <h1>{{postDetail?.title || ''}}</h1>
      <h3>{{postDetail?.description || ''}}</h3>
      <p>{{postDetail?.body?.[0]?.content || ''}}</p>
      <div class="post-images">
        <img *ngIf="postDetail?.cover" [src]="postDetail.cover.photo_url" alt="image1" class="image" />
      </div>
    </div>
    <!--   <div class="actions">
      <span style="font-size: x-large;">
        <i nz-icon nzType="heart" [nzTheme]="postDetail?.like_count?'twotone':'outline'"
          [twoToneColor]="postDetail?.like_count ?'#eb2f96':''"></i>
        {{postDetail?.like_count || '' }}
      </span>
      <span style="font-size: x-large;">
        <i nz-icon nzType="message" nzTheme="outline"></i>
        {{postDetail?.comments_count || '' }}
      </span>
    </div> -->
    <div class="post-comments">
      <!-- <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment> -->
    </div>
  </nz-card>
</div>