.post-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  overflow: auto;

  .post-content {
    margin-bottom: 16px;

    .post-images {
      max-width: 100%;

      .image {
        width: 100%;
      }
    }
  }
}

nz-card {
  max-width: 60%;
  width: 100%;
  overflow: auto;
  height: 100%;
}
