.home {
  padding: 16px;
  height: 100%;
  overflow: auto;

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .ant-pagination {
    text-align: center;
  }
}
