<iframe title="Sum of sales by month and country" width="100%" height="100%"
  src="https://app.powerbi.com/reportEmbed?reportId=48f77d18-775b-4927-be45-8affb351af3f&autoAuth=true&embeddedDemo=true"
  frameborder="0" allowFullScreen="true"></iframe>

<!-- power-bi.component.html -->
<!-- <div>
  <iframe id="powerbi-iframe" title="Power BI Report" width="1140" height="541.25" frameborder="0"
    allowFullScreen="true"></iframe>
</div> -->

<!-- <div id="reportContainer" style="height:100%;width:100%;"></div> -->

<!-- <div>
  <iframe title="Power BI Report" width="1140" height="541.25"
    [src]="sanitizer.bypassSecurityTrustResourceUrl(embedUrl)" frameborder="0" allowFullScreen="true">
  </iframe>
</div> -->

<!-- <iframe title="Power BI Report" width="1140" height="541.25" [src]="embedUrl" frameborder="0" allowFullScreen="true">
</iframe> -->