<iframe title="Total Reactions on Posts" width="100%" height="100%"
  src="https://app.powerbi.com/reportEmbed?reportId=91dfc2aa-954e-46e9-a9d9-abb76ea34074&autoAuth=true&embeddedDemo=true"
  frameborder="0" allowFullScreen="true"></iframe>

<!-- power-bi.component.html -->
<!-- <div>
  <iframe id="powerbi-iframe" title="Power BI Report" width="1140" height="541.25" frameborder="0"
    allowFullScreen="true"></iframe>
</div> -->

<!-- <div id="reportContainer" style="height:100%;width:100%;"></div> -->

<!-- <div>
  <iframe title="Power BI Report" width="1140" height="541.25"
    [src]="sanitizer.bypassSecurityTrustResourceUrl(embedUrl)" frameborder="0" allowFullScreen="true">
  </iframe>
</div> -->

<!-- <iframe title="Power BI Report" width="1140" height="541.25" [src]="embedUrl" frameborder="0" allowFullScreen="true">
</iframe> -->